<div class="testing"></div>
<div class="main">
  <div class="a1body">
    <div class="content">
      <!-- * CARDS SECTION -->
      <div class="container">
        <ul>
          <li *ngFor="let obj of kanjiArr">
            <div
              class="kanji__block waves-light"
              type="button"
              mdbPopover="Kun: {{
                kanaToggleInfo.hiragana ? obj.kun : kanaToggleInfo.hOff
              }} <|> On: {{
                kanaToggleInfo.katakana ? obj.on : kanaToggleInfo.kOff
              }}"
              placement="right"
              mdbPopoverHeader="{{
                kanaToggleInfo.translationState
                  ? obj.meaning
                  : kanaToggleInfo.tOff
              }}"
              [triggers]="hoverToHint ? hvr : clck"
              mdbWavesEffect
            >
              <div>
                <span class="kanjiInCard">{{ obj.name }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- * CARDS SECTION -->

      <!-- ^ PAGINATOR SECTION -->
      <div class="pagin sticky-bottom">
        <button [disabled]="prevDis()" (click)="prevPage()" mat-raised-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <input disabled [defaultValue]="pageNumber" />
        <button [disabled]="nextDis()" (click)="nextPage()" mat-raised-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <!-- ^ PAGINATOR SECTION -->
    </div>
  </div>
</div>
