<div class="settingspage">
  <mdb-card>
    <!--Card image-->
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h1>Settings</h1>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text >
        <mat-divider></mat-divider>
        <div class="s1">
          <span id="asd">Hover to see hint</span>
          <input type="checkbox">
        </div>
      </mdb-card-text>

      <a href="http://localhost:4200/a1" mdbBtn color="primary" mdbWavesEffect>Apply</a>
    </mdb-card-body>
  </mdb-card>
</div>
